
// Feature Section
.feature-bg{
  background: $preset;
}
.text-wrapper{
  height: 100%;
    display: table;
    padding-left: 140px;
    > div{
      vertical-align: middle;
      display: table-cell;
    }
}
.feature-thumb{
  padding: 40px 0;
}
.feature-item{
    padding: 30px;
    .icon{
      float: left;
      border: 1px solid #fff;
      width: 80px;
      height: 80px;
      text-align: center;
      border-radius: 50%;
      transition: all .6s ease;
      -moz-transition: all .6s ease;
      -webkit-transition: all .6s ease;
      i{
        font-size: 36px;
        color: #fff;
        line-height: 80px;
      }       
    }     
  }
  .feature-content{
    color: #fff;
    margin-left: 100px;
    h3{
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  .feature-item:hover .icon{
    background: #fff;
    i{
      color: $preset;
    }
  }

  .owl-nav{
    position: relative;
    top: -160px;
    left: 0;
  }
  .owl-nav  div.owl-prev{
    float: left;
    margin-left: -45px;
  }
  .owl-nav  div.owl-next{
    float: right !important;
    margin-right: -45px;
  }
  .owl-nav  div{
    width: 40px;
    height: 40px;
    display: block !important;
    background: $preset!important;
    text-align: center;
    display: inline-block;
    opacity: 1 !important;
    border-radius: 0px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
   i{
      color: #fff;
      font-size: 16px;
      line-height: 40px;
    }
  }
  .owl-nav  div:hover{
    background: #3ebfea!important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }






